.btnWrap {
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

.blockContent {
    width: 300px;
}

.content {
    display: flex;
}
.name {
    margin-right: 150px;
}
.age {

}

.blockFilteredPeople {
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}