.superInput {
    margin: 10px;
    background-color: darkslategrey;
    color: azure;
}

.errorInput {
    margin: 10px;
    border: 2px solid lime;
    background-color: darkslategrey;
    color: azure;
}

.error {
    height: 21px;
    color: darkslategrey;
    margin-left: 10px;
}