
.link {
    text-decoration: none;
    margin: 10px;
    color: olive;
}

.link:hover {
    color: salmon;
}

.active {
    padding: 10px;
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: darkred;
}

.header {
    display: flex;
    width: 250px;
    padding: 15px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}